*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f172a;
    color:white;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:40px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:100px;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.2rem;
    color:#cbd5e1;
    margin-bottom:30px;
}

.btn-principal,
.btn-nav{
    text-decoration:none;
    background:#3b82f6;
    color:white;
    padding:15px 25px;
    border-radius:10px;
    font-weight:bold;
    transition:.3s;
}

.btn-principal:hover,
.btn-nav:hover{
    background:#2563eb;
}

section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    margin-bottom:50px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
}

.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.galeria img{
    width:300px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.video{
    text-align:center;
}

.video video{
    width:80%;
    max-width:900px;
    border-radius:15px;
}

.cta{
    text-align:center;
}

.cta h2{
    margin-bottom:30px;
}

footer{
    text-align:center;
    padding:30px;
    background:#020617;
}